* {
    font-family: 'Sofia Sans', sans-serif;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.sidebar {
    display: grid;
    background-color: #1992d4;
    color: white;
    grid-row: 1 / span 2;
    font-size: 1.2rem;
    padding: 20px;
    padding-top: 5px;
    grid-template-rows: 1fr 5fr 6fr;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 25px;
}

.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 2;
    background-color: #e2e8f0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    padding-top: 10px;
}

.projects {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-row: 2 / span 3;
}

.project {
    display: grid;
    background-color: #ffffff;
    width: 80%;
    height: 92%;
    box-sizing: border-box;
    border-left: 8px solid #f0b429;
    padding: 20px;
    gap: 25px;
    border-radius: 15px;
}

.project-buttons {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.title {
    font-weight: bold;
    font-size: 1.1rem;
}

.big-svg {
    width: 50px;
    height: 50px;
}

.small-svg {
    width: 30px;
    height: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
}

li, .logo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

li {
    height: 52px;
}

.search {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    width: 100%
}

.profile {
    display: grid;
    grid-template-columns: 40px 60px 150px;
    align-items: center;
    justify-self: end;
    gap: 20px;
}

.greeting {
    display: grid;
    grid-template-columns: 85px 300px;
    grid-template-rows: 25px 25px;
    align-items: center;
    gap: 5px;
}

.small-avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.big-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    grid-row: 1 / 3;
}

input[type="search"] {
    appearance: none;
    border:none;
    height: 40%;
    background-color: #e2e8f0;
    border-radius: 25px;
    padding-left: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    align-items: center;
    justify-content: end;
    gap: 35px;
    margin-right: 35px;
}

button {
    height: 60%;
    background-color: #1992d4;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 50px;
    font-weight: bold;
}

.announcements {
    background-color: white;
    width: 85%;
    display: grid;
    margin-top: 7px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 35px;
    padding-top: 15px;
    font-size: 0.9rem;
    padding-bottom: 0;
}

.section {
    margin: 5px;
}

.underlined {
    border-bottom: 2px solid grey;
}

.trending {
    background-color: white;
    width: 85%;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    gap: 30px;
    height: 100%;
}

.user {
    display: grid;
    grid-template-columns: 65px 300px;
    grid-template-rows: 20px 20px;
    align-items: center;
    gap: 5px;
}

.user-avatar {
    grid-row: 1 / 3;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}